.QLink-cont {
  /* display: inline-block; */
  box-sizing: border-box;
  /* border: 1px solid red; */
  /* width: calc(100vw - 42px); */
  width: 100%;
  /* padding: 10px; */
  /* padding: 50px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  padding: 5px;
}
